.country {
  margin-left: 42%;
}

.New-word {
  cursor: pointer;
  /* position: fixed; */
  bottom: 10px;
  left: 10px;
  z-index: 100;
}

.New-word .Toggle-form {
  font-size: 2em;
  cursor: pointer;
}

.New-word button {
  height: 32px;
}

.New-word input {
  height: 26px;
}

.New-word button, input {
  border-radius: 4px;
  margin-left: 5px;
}

.New-word input[type="color"] {
  position: relative;
  top: 4px;
}